<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-text color="secondary">
        <pre><h1>First Number  </h1></pre>
      </ion-text>
    
      <ion-input #num1 placeholder="Write here"></ion-input>
    
      <ion-text color="secondary">
      <h1>Second Number </h1>
      </ion-text>
    
      <ion-input #num2 placeholder="Write here"></ion-input>
      <br>
      <pre>      <h1>{{res}}</h1>
      </pre>
      <br><br>
  <p>
      Sending a POST Request Example
  </p>
   <button ion-button (click)="sendPostRequest(num1.value,num2.value)">Post Data</button>

   <h1>{{Data}}</h1>
</ion-content>
